.forecast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 70%;
  height: 30%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 3.2px 3px 0 rgb(0 0 0 / 13%),
  0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
}
