.Main > img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 510px;
  margin: 0 auto;
}

.temp-container > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

