.top-elements {
  display: flex;
  justify-content: space-between;
}

.temp-container {
  display: flex;
  position: absolute;
  height: 6%;
  width: 50%;
  top: 18%;
  left: 18%;
}

.temp-container > h3 {
  color: #65b0d6;
  font-size: 5vh;
  font-weight: 500;
}

.temp-container > img {
  width: 5vh;
  height: auto;
  margin: 0 10px 0 0;
  align-self: flex-end;
}

.toggle-switch {
  position: absolute;
  top: 20%;
  right: 18%;
}

.weather-condition-plus-wind {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 10px 0 0
}

.weather-condition-plus-wind > h4,
.weather-condition-plus-wind > h5 {
  color: #65b0d6;
  font-size: 1.5vh;
}

.city-image {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.cloud-left {
  position: absolute;
  width: 15%;
  top: 31%;
  left: 6%;
}

.cloud-right {
  position: absolute;
  width: 20%;
  top: 25%;
  right: 8%;
  /* transform: translate(-50%, -50%); */
}




