.ForecastCard {
  background-color: white;
}

.day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-container > h3 {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.day-container > img {
  width: 40px;
  height: 40px;
}

.day-container > h4 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}